.animated-header {
  overflow: hidden;
  font-family: 'Clear Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
}
.animated-header .animated-blocks {
  display: block;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
}
.animated-header .animated-blocks li {
  display: none;
  position: relative;
  height: 418px;
  background-position: 50% 50%;
  background-size: cover;
  transition: width 0.1s ease-in-out;
}
.animated-header .animated-blocks li a {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
.animated-header .animated-blocks li a:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  content: '';
  background: url(../images/header/animated_header_yellow.png);
  background: rgba(252, 175, 23, 0.79);
  transition: background 0.1s ease-in-out;
}
.animated-header .animated-blocks li a:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  content: '';
  background-image: url(../images/header/animated_header_gradient.png);
  background-position: 50% bottom;
  background-repeat: repeat-x;
}
.animated-header .animated-blocks li a .content, .animated-header .animated-blocks li a .map-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.animated-header .animated-blocks li a .content h3,
.animated-header .animated-blocks li a .map-content .subtext {
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  padding: 20px 0 53px;
}
.animated-header .animated-blocks li a .content h3:before,
.animated-header .animated-blocks li a .map-content .subtext:before {
  display: block;
  width: 77px;
  height: 1px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  content: '';
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  background: url(../images/header/animated_header_line.png) 50% 50% no-repeat;
}
.animated-header .animated-blocks li a .content .subtext {
  position: absolute;
  top: auto;
  bottom: -100px;
  left: 0;
  right: 0;
  transition: bottom 0.15s ease-in-out, opacity 0.25s ease-in-out;
  opacity: 0;
}
.animated-header .animated-blocks li a .content .subtext p {
  max-width: 200px;
  margin: 0 auto;
}
.animated-header .animated-blocks li.map-link {
  display: block;
  font-family: "Blue Highway W00", Helvetica, Arial, sans-serif;
}
.animated-header .animated-blocks li.map-link .map-content .inner {
  width: 180px;
  text-align: left;
  margin: 70px auto 0;
}
.csstransforms .animated-header .animated-blocks li.map-link .map-content .inner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}
.animated-header .animated-blocks li.map-link .map-content .inner .badge-icon {
  margin: 0 0 5px;
  width: 80px;
  height: auto;
}
.animated-header .animated-blocks li.map-link .map-content .inner .badge-icon img {
  width: 100%;
  height: auto;
}
.animated-header .animated-blocks li.map-link .map-content .inner h3 {
  font-weight: bold;
  color: #193282;
  font-size: 50px;
  line-height: 40px;
  margin: 0;
}
.animated-header .animated-blocks li.map-link .map-content .inner h3 small {
  font-size: 18px;
  line-height: 15px;
  color: #d7453a;
  display: block;
}
@media (min-width: 768px) {
  .animated-header .animated-blocks li {
    display: block;
    height: 556px;
    width: 19%;
    float: left;
  }
  .animated-header .animated-blocks li a .content h3,
  .animated-header .animated-blocks li a .map-content .subtext,
  .animated-header .animated-blocks li a .content .subtext {
    font-size: 15px;
    line-height: 20px;
  }
  .animated-header .animated-blocks li a .content h3, .animated-header .animated-blocks li a .content .subtext {
    font-weight: 300;
    text-shadow: 0 0 12px #000;
  }
  .animated-header .animated-blocks li:first-child {
    background-position: 0 50%;
  }
  .animated-header .animated-blocks li:nth-child(4) {
    background-position: 100% 50%;
  }
  .animated-header .animated-blocks li.animated-link a:hover:before {
    background: transparent;
  }
  .animated-header .animated-blocks li.animated-link a:hover .content .subtext {
    opacity: 1;
    bottom: 115px;
  }
  .animated-header .animated-blocks li.map-link {
    width: 24%;
  }
  .animated-header .animated-blocks li.map-link .map-content .inner .badge-icon {
    width: 113px;
  }
  .animated-header .animated-blocks.has-active li {
    width: 17%;
  }
  .animated-header .animated-blocks.has-active li.active {
    width: 25%;
  }
  .animated-header .animated-blocks.has-active li.active:before {
    background: transparent;
  }
  .animated-header .animated-blocks.has-active li.map-link {
    width: 24%;
  }
  .animated-header .animated-blocks.has-active li.map-link.active {
    width: 24%;
  }
}
@media (min-width: 992px) {
  .animated-header .animated-blocks li {
    width: 16.5625%;
  }
  .animated-header .animated-blocks li a .content h3,
  .animated-header .animated-blocks li a .map-content .subtext,
  .animated-header .animated-blocks li a .content .subtext {
    font-size: 18px;
    line-height: 20px;
  }
  .animated-header .animated-blocks li.map-link {
    width: 33.75%;
  }
  .animated-header .animated-blocks.has-active li {
    width: 15%;
  }
  .animated-header .animated-blocks.has-active li.active {
    width: 21.25%;
  }
  .animated-header .animated-blocks.has-active li.map-link {
    width: 33.75%;
  }
  .animated-header .animated-blocks.has-active li.map-link.active {
    width: 33.75%;
  }
}
@media (min-width: 1300px) {
  .animated-header .animated-blocks li {
    width: 16.5625%;
  }
  .animated-header .animated-blocks li.map-link {
    width: 33.75%;
  }
  .animated-header .animated-blocks.has-active li {
    width: 15%;
  }
  .animated-header .animated-blocks.has-active li.active {
    width: 21.25%;
  }
  .animated-header .animated-blocks.has-active li.map-link {
    width: 33.75%;
  }
  .animated-header .animated-blocks.has-active li.map-link.active {
    width: 33.75%;
  }
}





/** Sean's Additions **/

/** Page Blocks **/

.page-block {
  margin: 0;
  padding: 43px 46px;
}
.page-block.tan-shadow .content {
  border-color: #fcaf17;
  color: #fcaf17;
}
.page-block.image-split {
  text-align: center;
  position: relative;
}
.page-block.image-split .content {
  position: absolute;
  z-index: 1;
  top: 43px; bottom: 43px;
  right: 46px; left: 46px;
  border-width: 1px;
  border-style: solid;
}
.page-block.image-split .image {
  margin: -10px auto;
  width: 30%;
  max-width: 275px;
  position: relative;
  z-index: 2;
}
  .page-block.image-split .image img {
    width: 100%; height: auto;
  }
.page-block.image-split h2 {
  color: inherit;
}
.page-block.image-split h2 .right-text {
  width: 33%;
  position: absolute;
  top: 0; bottom: 0;
  right: 0; left: auto;
}
.page-block.image-split h2 .left-text {
  width: 33%;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: auto;
}

.tan-shadow {
  box-shadow: 0px 0px 80px rgba(230, 168, 101, 60) inset;
  background: url(../images/bg/bg_tan_noise.png) 50% 50% repeat;
}


body, .drawerNav, .site-header, .footer {
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;

  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #000;
}