
/* colors used:
 * #ffffff - white
 * #008c5c - green (0, 140, 92)
 * #015c3c - medium green (1,92,60)
 * #003f29 - dark green (0,63,41)
 * #8cc63f - light green
 * #b7b7b7, 87% - overlay color (183,183,183,.87)
*/

/* fonts: 
 * 'Clear Sans'
 * 'Blue Highway W00'
 * 'BlueHighwayW00-Condense'
 * 'fontello'
 */

@font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello/fontello.eot?58599859');
      src: url('../fonts/fontello/fontello.eot?58599859#iefix') format('embedded-opentype'),
           url('../fonts/fontello/fontello.woff?58599859') format('woff'),
           url('../fonts/fontello/fontello.ttf?58599859') format('truetype'),
           url('../fonts/fontello/fontello.svg?58599859#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }


html {
	padding: 0; margin: 0;
}

html, body {
	font-family: 'Clear Sans', Helvetica, Arial, sans-serif;
	font-size: 100%;
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
	line-height: 1.3;
	color: #000;
}

/* resets */
ul {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

input, 
button {
	border: 0;
	background: transparent;
	outline: 0;
	border-radius: 0;
	font-family: inherit;
	font-weight: normal;
	border-radius: 0;
}

button {
	padding: 0;
}

.screen-reader-text {
	position: absolute;
	clip: rect(1px, 0, 0, 1px);
	overflow: hidden;
}

.alignright {
	float: right;
}
.alignleft {
	float: left;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.site-wrapper {
	padding: 0;
	overflow: hidden;
}


/* BUTTONLINK STYLES */
.bfblButtonLink,
#wp-submit {
	display: inline-block;
	background: #008c5c;
	border: 1px solid #ffffff;
	outline: 0;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	font-size: 16px; font-size: 1rem;
	line-height: 45px; line-height: 2.8125rem;
	height: 47px; height: 2.9375rem;
	min-width: 124px; min-width: 7.75rem;
	box-sizing: border-box;
	font-family: 'Blue Highway W00';
}

.bfblButtonLink:hover, 
.bfblButtonLink:focus,
#wp-submit:hover,
#wp-submit:focus {
	background: #003f29;
	color: #ffffff;
	text-decoration: none;
}

/* HEADER */


header.site-header {
	background: #008c5c;
	border-bottom: 1px solid #8cc63f;
	height: 76px; height: 4.75rem;
	padding-top: 14px; padding-top: 0.875rem;
	position: relative;
}

header.site-header h1 {
	margin: 0;
}

header.site-header .home-link a {
	display: block;
	width: 130px; width: 8.125rem;
	height: 50px; height: 3.125rem;
	background-image: url('../images/bfbl_logo.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	text-indent: -999999px;
	overflow: hidden;
	margin-left: 3.125%;
}

#bfblMenuBtn {
	position: absolute;
	top: 12px; top: 0.75rem; 
	right: 0; bottom: 0;
	width: 64px; width: 4rem;
	background: transparent;
	border: 0;
	outline: 0;
	color: #ffffff;
	font-family: 'BlueHighwayW00-Condense';
	letter-spacing: 3px; letter-spacing: 0.1875rem;
	text-indent: 2px; text-indent: 0.125rem;
	text-transform: uppercase;
	font-size: 18px; font-size: 1.125rem;
	line-height: 1;
	padding-top: 10px; padding-top: 0.625rem;
	padding-bottom: 38px; padding-bottom: 2.375rem;
}

#bfblMenuBtn:hover, 
#bfblMenuBtn:focus {
	background: #003f29;
}

#bfblMenuBtn::before,
#bfblMenuBtn::after {
	content: '';
	display: block;
	position: absolute;
	height: 16px; /* cq, no rems */
	right: 12px; right: 0.75rem;
	bottom: 12px; bottom: 0.75rem;
	left: 12px; left: 0.75rem;
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #ffffff;
}

#bfblMenuBtn::before {
	border-top-width: 1px;
	border-bottom-width: 1px;
}

#bfblMenuBtn::after {
	height: 0;
	border-bottom-width: 1px;
	margin-bottom: 7px; /* cq, no rems */
}

/* MAIN MENU */
#bfblMenuOverlay {
	display: block;
	position: fixed;
	top: 0; right: 0; bottom: 100%; left: 0;
	background: #b7b7b7;
	z-index: 500;
	opacity: 0;
	transition: opacity 1s, bottom 0s linear 1s;
}

#bfblMenuOverlay.menuActive {
	bottom: 0;
	opacity: .84;
	transition: opacity 1s, bottom 0s;
}


#bfblDrawerWrap {
	position: absolute;
	top: 0; right: 0;
	width: 0;
	height: 0;
	z-index: 600;
	overflow: hidden;
	transition: width 0s linear 1s, height 0s linear 1s; 
}

#bfblDrawerWrap.menuActive {
	width: 100%;
	height: 600px; height: 37.5rem;
	transition: width 0s , height 0s; 
}

#bfblMenuDrawer {
	position: absolute;
	top: 0; right: -320px;
	width: 320px; width: 20rem;
	max-width: 87.5%;
	box-sizing: border-box;
	background: #008c5c;
	text-align: center;
	font-family: 'Blue Highway W00';
	color: #ffffff;
	overflow: hidden;
	transition: right 1s, box-shadow 1s;
}

#bfblDrawerWrap.menuActive #bfblMenuDrawer {
	right: 0;
	box-shadow: 0 0 30px 1px rgba(17,17,18,.75);
}

.drawerTop {
	height: 88px; height: 5.5rem;
	padding-top: 20px; padding-top: 1.25rem;
	text-align: left;
	position: relative;
}

a.drawerHomeLink {
	display: block;
	width: 130px; width: 8.125rem;
	height: 50px; height: 3.125rem;
	background-image: url('../images/bfbl_logo.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	text-indent: -999999px;
	overflow: hidden;
	margin-left: 10px; margin-left: 0.625rem;
}

#bfblMenuClose {
	position: absolute;
	top: 0; right: 0; bottom: 0;
	width: 50px; width: 3.125rem;
	text-indent: -9999999px;
	color: #015c3c;
}

#bfblMenuClose::before {
	font-family: 'fontello';
	content: '\e800';
	display: block;
	position: absolute;
	top: 50%; right: 50%;
	width: 36px; width: 2.25rem;
	height: 36px; height: 2.25rem;
	margin-top: -18px; margin-top: -1.125rem;
	margin-right: -18px; margin-right: -1.125rem;
	font-size: 36px; font-size: 2.25rem;
	line-height: 36px; line-height: 2.25rem;
	text-align: center;
	text-indent: 0;
}

#bfblMenuClose:hover, 
#bfblMenuClose:focus {
	color: #ffffff;
}

.drawerNav {
	background: #015c3c;
	padding-top: 28px; padding-top: 1.75rem;
	padding-bottom: 24px; padding-bottom: 1.5rem;
}

.drawerNav::after {
	content: '';
	display: block;
	clear: both;
}

.drawerNav .menuColumn {
	float: right;
	width: 50%;
}

.drawerNav .menuColumn:first-child {
	float: left;
}


.drawerNav a {
	display: block;
	padding-top: 12px; padding-top: 0.75rem;
	padding-bottom: 12px; padding-bottom: 0.75rem;
	line-height: 1;
	font-size: 16px; font-size: 1rem;
	text-transform: uppercase;
	color: #008c5c;
	text-decoration: none;
}

.drawerNav a:hover {
	color: #ffffff;
}

.drawerNav a .shade {
	display: none;
}

.drawerLogin {
	padding-top: 32px; padding-top: 2rem;
}

.drawerNewsletter {
	padding-top: 38px; padding-top: 2.375rem;
	padding-bottom: 30px; padding-bottom: 1.875rem;
} 

.drawerSearch {
	background: #015c3c;
	padding: 36px 10px; padding: 2rem 0.625rem;
}

.searchBtnWrap {
	display: none; /* hidden on mobile */
}

.search-form {
	display: block;
	border: 1px solid #008c5c;
	border-top: 0;
	height: 30px; height: 1.875rem;
	position: relative;
}

.search-form .search-field {
	padding: 0 6px; padding: 0 0.375rem;
	position: absolute;
	top: 4px; top: 0.25rem;
	bottom: 4px; bottom: 0.25rem;
	left: 0;
	width: 88.5%;
	display: block;
	font-size: 14px; font-size: 0.875rem;
	font-family: 'Clear Sans';
	color: #ffffff;
}

input.search-field::-webkit-input-placeholder {
	color: #008c5c !important;
	font-style: italic;
}
 
input.search-field:-moz-placeholder { /* Firefox 18- */
	color: #008c5c !important;
	font-style: italic;
}
 
input.search-field::-moz-placeholder {  /* Firefox 19+ */
	color: #008c5c !important;
	font-style: italic;
}
 
input.search-field:-ms-input-placeholder {  
	color: #008c5c !important;
	font-style: italic;
}


.search-form .search-submit {
	position: absolute;
	top: 0; right: 0; bottom: 0;
	width: 11.5%;
	background: transparent; 
	text-indent: -99999px;
	/* NOTE: since we're using an iconfont, it must be added to the PARENT element, because b/c <input>s can't have pseudo elements */
}

.search-form::before {
	font-family: 'fontello';
	content: '\e805';
	display: block;
	position: absolute;
	top: 0; right: 0; bottom: 0;
	width: 11.5%;
	font-size: 18px; font-size: 1.125rem;
	line-height: 30px; line-height: 1.875rem;
	color: #008c5c;
}

/* LIGHTBOXES */
.bfblLightboxes {
	display: none;
}

.ui-widget-overlay {
	background: #b7b7b7;
	opacity: .84;
	transition: z-index 1s;
}

.ui-dialog {
	box-shadow: 0 0 30px 1px rgba(17,17,18,.75);
	outline: 0;
	background: #008c5c;
	color: #ffffff;
}

.ui-dialog::after {
	/* this is needed to prop open the lightbox width, if the interior content isn't already wide enough  */
	content: '';
	display: block;
	width: 320px;
}

.ui-dialog-titlebar {
	background: transparent;
	border: 0;
	text-align: right;
	padding-right: 10px; padding-right: 0.625rem;
	height: 42px; height: 2.625rem;
}

.ui-dialog-titlebar-close {
	color: #015c3c;
}

.ui-dialog-titlebar-close:hover {
	color: #ffffff;
}

.ui-dialog-titlebar-close:before {
	font-family: 'fontello';
	content: '\e808';
	font-size: 26px; font-size: 1.625rem;
}


.ui-dialog-content {
	padding: 0;
}

.ui-dialog h3 {
	margin: 0;
	padding-bottom: 2rem;
	text-align: center;
	font-size: 16px; font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 3px; letter-spacing: 0.1875rem;
	color: #8cc63f;
	font-family: 'Blue Highway W00';
	background: #008c5c;
}

#loginLB {
	background: #015c3c;
}

#loginLB p.login-username,
#loginLB p.login-password {
	display: block;
	margin: 36px 12px; margin: 2rem 0.75rem;
	border: 1px solid #008c5c;
	border-top: 0;
	height: 30px; height: 1.875rem;
	position: relative;
/*	padding-left: 11.5%; */
}

#loginLB p.login-password {
	margin-bottom: 28px; margin-bottom: 1.75rem;
}

#loginLB p.login-username::before,
#loginLB p.login-password::before {
	font-family: 'fontello';
	display: block;
	position: absolute;
	top: 50%;
	left: 1.5%;
	width: 8.8%;
	height: 26px; height: 1.625rem;
	margin-top: -15px; margin-top: -0.8125rem;
	font-size: 22px; font-size: 1.375rem;
	line-height: 26px; line-height: 1.625rem;
	text-align: center;
	color: #008c5c;
}

#loginLB p.login-username::before {
	content: '\e80a';
}

#loginLB p.login-password::before {
	content: '\e807';
}

#loginLB p.login-username label,
#loginLB p.login-password label {
	position: absolute;
	overflow: hidden;
	text-indent: -999999px;
	top: 1px;
	left: 1.5%;
	width: 8.8%;
	height: 26px; height: 1.625rem;
}

#loginLB p.login-username input,
#loginLB p.login-password input {
	padding: 0 6px; padding: 0 0.375rem;
	position: absolute;
	top: 4px; top: 0.25rem;
	bottom: 4px; bottom: 0.25rem;
	right: 1.5%;
	width: 86.5%;
	display: block;
	font-size: 14px; font-size: 0.875rem;
	font-family: 'Clear Sans';
	color: #ffffff;
}

#loginLB input::-webkit-input-placeholder {
	color: #008c5c !important;
	font-style: italic;
}
 
#loginLB input:-moz-placeholder { /* Firefox 18- */
	color: #008c5c !important;
	font-style: italic;
}
 
#loginLB input::-moz-placeholder {  /* Firefox 19+ */
	color: #008c5c !important;
	font-style: italic;
}
 
#loginLB input:-ms-input-placeholder {  
	color: #008c5c !important;
	font-style: italic;
}

#loginLB input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0px 1000px rgba(0, 140, 92, .75) inset;
}

#loginLB p.login-remember {
	margin-left: 20px; margin-left: 1.25rem;
}

#loginLB p.login-remember label {
	font-weight: normal
}

#loginLB p.login-remember input {
	display: none;
}

#loginLB p.login-remember label span {
	font-size: 14px; font-size: 0.875rem;
	color: #008c5c;
	font-style: italic;
	position: relative;
	display: inline-block;
	padding-left: 34px; /* cq, not rems */
}

#loginLB p.login-remember label span::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%; left: 0;
	width: 20px; /* cq, not rems */
	height: 20px;
	margin-top: -10px;
	background-image: url('../images/bfbl_sprite_checkbox.png');
	background-repeat: no-repeat;
	background-size: 20px 95px;
	background-position: 0 -50px;
}

#loginLB p.login-remember label input[type=checkbox]:checked + span {
	color: #ffffff;
	font-style: normal;
}

#loginLB p.login-remember label input[type=checkbox]:checked + span::before {
	background-position: 0 -75px;
}

#loginLB p.login-submit {
	text-align: center;
	margin: 32px 12px; margin: 2rem 0.75rem;
}




/* FOOTER */
#bfblFooter {
	background: #015c3c;
	color: #ffffff;
	text-align: center;
	font-size: 14px; font-size: 0.875rem;
}

#bfblFooter a {
	color: #ffffff;
	text-decoration: none;
}

#bfblFooter a:hover {
	color: #8cc63f;
}

#bfblFooter .footerRowOne {
	font-family: 'Blue Highway W00';
}

#bfblFooter h3 {
	font-size: 16px; font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 3px; letter-spacing: 0.1875rem;
	color: #8cc63f;
	margin: 40px 0 16px; margin: 2.5rem 0 1rem;
}

.footerAbout p {
	text-align: left;
	max-width: 500px; max-width: 31.25rem;
	margin-left: auto;
	margin-right: auto;
}

.footerNav li {
	margin-top: 16px; margin-top: 1rem;
}

#bfblFooter .footerSocial h3 {
	margin-bottom: 26px; margin-bottom: 1.625rem;
}

.footerSocial ul {
	display: block;
	max-width: 400px; max-width: 25rem;
	margin: 0 auto 44px; margin: 0 auto 2.75rem;
}

.footerSocial li {
	display: inline-block;
	width: 25%;
}

.footerSocial a {
	display: block;
}
.footerSocial a::before {
	font-family: 'fontello';
	display: inline-block;
	width: 22px; width: 1.375rem;
	height: 22px; height: 1.375rem;
	font-size: 22px;
	line-height: 22px;
	text-align: center;
	position: relative;
	top: -1px;
}

.footerSocial .twitter a::before {
	content: '\e802';	
}

.footerSocial .facebook a::before {
	content: '\e804';	
}

.footerSocial .youtube a::before {
	content: '\e801';	
}

.footerSocial .instagram a::before {
	content: '\e803';	
}

.footerSocial a span {
	display: inline-block;
	text-indent: -99999px;
	overflow: hidden;
}

.footerHomeLink {
	position: absolute;
	clip: rect(1px, 0, 0, 1px);
	overflow: hidden;
}

.footerAddress {
	text-transform: uppercase;
	margin-bottom: 12px; margin-bottom: 0.75rem;
}

.footerPhoneEmail {
	margin-bottom: 30px; margin-bottom: 1.875rem;
}

.footerPhoneEmail span {
	display: inline-block;
	padding: 0 10px; padding: 0 0.625rem;
}

.footerPhoneEmail span.footerPhone {
	border-right: 1px solid #8cc63f;
	margin-right: -1px;
}

.footerCredits {
	/* askaskask */
	position: absolute;
	clip: rect(1px, 0, 0, 1px);
	overflow: hidden;
	
	text-align: right;
	color: #8cc63f;
	font-size: 13px; font-size: 0.8125rem;
}

.footerCredits .credit {
	text-transform: uppercase;
}

#bfblFooter .footerCredits .credit a {
	color: inherit;
}

#bfblFooter .footerCredits .credit a:hover {
	color: #ffffff;
}

/* tablet media query */
@media (min-width: 768px) {

	/* HEADER - TABLET */

	header.site-header {
		height: 82px; height: 5.125rem;
	}

	header.site-header .home-link a {
		width: 160px; width: 10rem;
		height: 60px; height: 3.75rem;
		margin-left: 4%;
	}

	#bfblMenuBtn {
		right: 4%;
		padding-top: 20px; padding-top: 1.25rem;
	}

	#bfblDrawerWrap {
		position: fixed;
	}

	.ui-dialog {
		position: fixed!important;
	}	

	
	/* FOOTER - TABLET */

	#bfblFooter {
		text-align: left;
		padding-left: 0; /* override bootstrap left and right gutters */
		padding-right: 0;
	}
	
	#bfblFooter .row {
		margin-left: 2.5%; /* override bootstrap left and right gutters */
		margin-right: 2.5%;
	}
	
	#bfblFooter h3 {
		margin: 50px 0 20px; margin: 3.125rem 0 1.25rem;
	}
	
	.footerAbout p, 
	.footerNav li {
		margin-top: 0;
		margin-bottom: 30px; margin-bottom: 1.875rem;
	}
	
	.footerAbout p {
		padding-right: 16px; padding-right: 1rem;
	}
	
	.footerSocial ul {
		padding-left: 30px; padding-left: 1.875rem;
	}
	
	.footerSocial li {
		width: auto;
		display: block;
		margin-bottom: 12px;
	}
	
	.footerSocial li a {
		display: inline-block;
	}
	
	.footerRowTwo {
		padding-bottom: 50px; padding-bottom: 3.125rem;
	}
	
	.footerRowTwo::before {
		content: '';
		display: block;
		border-top: 1px solid #8cc63f;
		height: 50px; height: 3.125rem;
		width: 80%;
		max-width: 800px; max-width: 50rem;
		margin: 0 auto;
	}
	
	.footerAddress {
		margin-bottom: 8px; margin-bottom: 0.5rem;
	}
	
	.footerPhoneEmail span {
		padding: 0 13px; padding: 0 0.8125rem;
	}
	
	.footerPhoneEmail span.footerPhone {
		padding-left: 4px; padding-left: 0.25rem;
	}

	.footerCredits {
		position: static;
		clip: auto;
	}
	
}

/* desktop media query */
@media (min-width: 992px) {

	/* HEADER - DESKTOP */

	header.site-header .home-link a {
		margin-left: 4.5%;
	}

	#bfblMenuBtn {
		display: none;
	}

	/* MENU - DESKTOP */
	#bfblMenuOverlay {
		display: none!important;
	}
	
	#bfblDrawerWrap {
		position: absolute;
/*		right: 4.5%; */
		right: 2.5%;
		width: 100%!important;
		height: auto!important;
		overflow: visible; /* #bfblMenuDrawer actually hangs out the bottom */
		transition: width 0s, height 0s;
	}
	
	#bfblMenuDrawer {
		right: 0!important;
		box-shadow: none!important;
		width: auto;
		background: transparent;
		overflow: visible;
		font-family: 'BlueHighwayW00-Condense';
		transition: right 0s, box-shadow 0s;
/*		padding-right: 64px; padding-right: 4rem; /* accomodates the login button, which is absolutely positioned */
		padding-right: 56px; padding-right: 3.5rem; /* accomodates the login button, which is absolutely positioned */
	}
	
	#bfblMenuDrawer>* {
		display: inline-block;
		vertical-align: top;
	}
	
	#bfblMenuDrawer .drawerTop {
		display: none;
	}

	.drawerNav {
		padding: 0;
		background: transparent;
	}

	.drawerNav .menuColumn {
		float: none!important;
		width: auto;
		display: inline-block;
	}

	.drawerNav li {
		display: inline-block;
		padding-top: 12px; padding-top: 0.75rem;
	}
	

	.drawerNav a {
		display: inline-block;
		color: #ffffff;
		height: 69px; height: 4.3125rem;
		line-height: 69px; line-height: 4.3125rem;
		font-size: 16px; font-size: 1rem;
		letter-spacing: 1px;
/*		padding: 0 18px; padding: 0 1.125rem; */
		padding: 0 8px; padding: 0 0.5rem;
		padding: 
		background: transparent;
		position: relative;
	}

	.drawerNav a .shade {
		display: none;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: -1;
		background: #003f29;
	}

	.drawerNav a:hover .shade,
	.drawerNav li.currentPage a .shade {
		display: block;
	}

	.drawerNewsletter {
	/*	padding: 22px 26px 0; padding: 1.375rem 1.625rem 0;  */
		padding: 23px 8px 0; padding: 1.4375rem 0.5rem 0;
	}

	.drawerNewsletter .buttonNewsletter {
		min-width: 0;
		font-family: 'BlueHighwayW00-Condense';
		letter-spacing: 1px;
		padding-left: 12px; padding-left: .75rem;
		padding-right: 12px; padding-right: .75rem;
	}

	.drawerLogin,
	.drawerSearch {
		padding: 12px 0 0; padding: 0.75rem 0 0;
		background: transparent;
	} 
	
	.drawerLogin .buttonLogInOut,
	.drawerSearch .buttonSearch {
	/*	width: 64px; width: 4rem; */
		width: 56px; width: 3.5rem;
		min-width: 0;
		height: 69px; height: 4.3125rem;
		border: 0;
		text-align: center;
		font-family: 'BlueHighwayW00-Condense';
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size: 16px; font-size: 1rem;
		line-height: 21px; line-height: 1.3125;
		padding-top: 10px; padding-top: 0.625rem;
		padding-bottom: 38px; padding-bottom: 2.375rem;
		position: relative;
	}

	.drawerLogin .buttonLogInOut::after,
	.drawerSearch .buttonSearch::after {
		font-family: 'fontello';
		display: block;
		position: absolute;
		left: 50%; 
		bottom: 16px; bottom: 1rem;
		width: 22px; width: 1.375rem;
		height: 22px; height: 1.375rem;
		margin-left: -11px;
		background: transparent;
		font-size: 18px; font-size: 1.125rem;
		line-height: 22px; line-height: 1.375rem;
		text-align: center;
	}

	.drawerLogin .buttonLogInOut::after {
		content: '\e80a';
	}
	
	.drawerSearch .buttonSearch::after {
		content: '\e806';
	}

	.drawerLogin .buttonLogInOut:focus,
	.drawerSearch .buttonSearch:focus {
		background: inherit;
	}

	.drawerLogin .buttonLogInOut:hover,
/*	.drawerLogin .buttonLogInOut:focus, */
	.drawerLogin .buttonLogInOut.btnActive,
	.drawerSearch .buttonSearch:hover,
/*	.drawerSearch .buttonSearch:focus, */
	.drawerSearch .buttonSearch.btnActive {
		background: #003f29;
	}
	

	
	.drawerLogin {
		position: absolute;
		top: 0; right: 0;
	}
	
	.drawerSearch {
	    position: relative;
	}

	.searchBtnWrap {
		display: block;
	}

	.searchFormWrap {
	    background: #015c3c;
	    position: absolute;
	    top: 100%;
	    right: -16px; right: -1rem;
	    width: 320px; width: 20rem;
		padding: 16px 18px; padding: 1rem 1.125rem;
		clip: rect(0, 320px, 0, 0); clip: rect(0, 20rem, 0, 0);
		transition: clip 0.5s;
	}
	
	.searchFormWrap.searchActive {
		clip: rect(0, 320px, 62px, 0); clip: rect(0, 20rem, 3.875rem, 0);
	}


	/* FOOTER - DESKTOP */
	
	.footerContact {
		position: relative;
		padding-left: 19%;
	}
	
	
	.footerHomeLink {
		display: block;
		clip: auto;
		top: 0;
		left: 15px; /* cq, matches bootstrap left padding */
		width: 32.92%;
		height: 0;
		padding-bottom: 21.05%; /* so the height scales with width */
		background-image: url('../images/bfbl_logo.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		text-indent: -999999px;
	}
	
	.footerCredits .hideBreak {
		display: none;
	}
	
	
}

/* large desktop media query */
@media (min-width: 1200px) {

	/* MENU - LARGE DESKTOP */
	#bfblDrawerWrap {
		right: 4.5%;
	}

	#bfblMenuDrawer {
		padding-right: 64px; padding-right: 4rem; /* accomodates the login button, which is absolutely positioned */
	}
	
	.drawerNav a {
		padding: 0 16px; padding: 0 1rem;
	}

	.drawerNewsletter {
/*		padding: 22px 26px 0; padding: 1.375rem 1.625rem 0; */
		padding: 23px 16px 0; padding: 1.4375rem 1rem 0;
	}

	.drawerNewsletter .buttonNewsletter {
		min-width: 124px; min-width: 7.75rem;
	}


	.drawerLogin .buttonLogInOut,
	.drawerSearch .buttonSearch {
		width: 64px; width: 4rem;
	}	

	/* FOOTER - LARGE DESKTOP */
	
	#bfblFooter .row {
		margin-left: 3.5%; /* override bootstrap left and right gutters */
		margin-right: 3.5%;
	}	

	.footerContact {
		padding-left: 186px;
	}
	
	
	.footerHomeLink {
		width: 160px; width: 10rem;
		padding-bottom: 60px; padding-bottom: 3.75rem;
	}


	.footerSocial ul {
		padding-left: 0;
	}

	.footerSocial li {
		margin-right: -20px; margin-right: -1.25rem;
	}

	.footerSocial a span {
		text-indent: .5rem;
		vertical-align: top;
	}

	
	
}



