html {
	font-size: 62.5%;
	padding: 0; margin: 0;
}
body {
	font-family: 'Clear Sans', Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	line-height: 1.3;
	color: #000;
}


.alignright {
	float: right;
	margin: 0 0 1em 1em;
}
.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}
.aligncenter {
	display: block;
	margin: 1em auto;
	text-align: center;
}
