/** Buttons **/
.button {
	display: inline-block;
	padding: 10px 5px;

	background-color: $color-orange;
	color: $color-white;
	border: 1px solid $color-orange;

	font-family: $font-stack-alternate;
	@include font-size($font-size-button-px, $font-size-button);
	@include line-height($line-height-button-px, $line-height-button);
	letter-spacing: 2px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	box-sizing: border-box;

	border-radius: 4px;

	&.hollow, &.header {
		background-color: transparent;
		color: $color-orange;
	}

	&.header {
		margin: 10px auto;
		max-width: 200px;
	}
	&.two-lines {
		display: block;
		max-width: 200px;
		line-height: ($line-height-button-px / 2); line-height: ($line-height-button / 2);
	}


	&:hover {
		background-color: $color-grey;
		border-color: $color-grey;
		text-decoration: none;

		&.hollow {
			background-color: transparent;
			color: $color-grey;
			border-color: $color-grey;
		}

		&.header {
			background-color: transparent;
			color: $color-brown;
			border-color: $color-brown;
		}
	}
}