$color-black: 					#000;
$color-white: 					#fff;
$color-brown:					#423d38;
$color-orange:					#f26102;
$color-grey: 					#262627;
$color-light-grey:				darken(#8d93a0, 20%);
$color-lighter-grey:			lighten(#8d93a0, 20%);
$color-light-brown:				#d8c3ae;
$color-medium-brown:			#7c7268;


$color-green:					#008c5c;
$color-dark-green:				#015c3c;
$color-light-green:				#8cc63f;


$color-text:					$color-light-grey;
$color-heading:					$color-grey;
$color-accent:  				$color-orange;
$color-link:					$color-orange;
$color-link-hover:				$color-text;
$color-footer-text:				$color-light-brown;

$constrained-width:				$container-lg;

$font-stack-alternate: 			'PT Sans Caption', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-stack-primary:			'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-stack-icons:				'tastelv-icons';

$font-size-meta:				1.125rem;
$font-size-meta-px:				18px;

$font-size-normal:				1rem;
$font-size-normal-px:			16px;

$font-size-footer:				.875rem;
$font-size-footer-px:			14px;

$font-size-block-nav:			1.875rem;
$font-size-block-nav-px:		30px;
$font-size-block-nav-mobile:	$font-size-block-nav * .5;
$font-size-block-nav-mobile-px:	$font-size-block-nav-px * .5;
$font-size-block-nav-tablet:	$font-size-block-nav * .8;
$font-size-block-nav-tablet-px:	$font-size-block-nav-px * .8;

$font-size-h1:					3.125rem;
$font-size-h1-px:				50px;

$font-size-h3:					1.5rem;
$font-size-h3-px:				24px;


$font-size-button:				.875rem;
$font-size-button-px:			14px;
$line-height-button:			2.25rem;
$line-height-button-px:			36px;

$font-weight-normal:			300;
$font-weight-alternate:			bold;

$transition-normal: 			0.25s;
$transition-slow: 				0.5s;

$size-touchable:				2.9375rem;
$size-touchable-px:				47px;
$standard-margin: 				20px;

$font-size-footer-heading:		1.25rem;
$font-size-footer-heading-px:	20px;

$sponsor-block-height:			80px;
$sponsor-block-width:			160px;
$sponsor-font-size:				20px; 
