
.icon-right-thin:before { content: '\e800'; } /* '' */
.icon-calendar-empty:before { content: '\e801'; } /* '' */
.icon-location-5:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-clock:before { content: '\e805'; } /* '' */