$color-black: 		#000;
$color-grey:		#333;
$color-light-grey:	#999;
$color-white: 		#fff;
$color-blue:		#1c3281;

$color-background: 		$color-white;
$color-background-alt:	#e7e7e7;

$constrained-width:	$container-lg;

$transition-fast:	0.2s;
$transition-normal:	0.25s;
$transition-slow: 	0.5s;

/** Breakpoints **/
$bp-widescreen: 	1200px;
$bp-lg-tablet: 		1024px;
$bp-tablet: 		800px;
$bp-sm-tablet: 		680px;
$bp-h-lg-phone: 	575px;
$bp-h-phone: 		480px;
$bp-w-phone: 		400px;

$size-gutter: 		floor($grid-gutter-width / 2);
