@import 'inc/variables';
@import 'vendor/bootstrap/bootstrap';

.entry-content {
  img.alignright {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  img.alignleft {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  img.aligncenter {
    float: none;
    margin: 1rem auto;
  }
}

.btn {
  font-family: $headings-font-family;
  text-transform: uppercase;
}

h2 {
  small {
    font-family: $font-family-base;
    font-size: .5em;
    font-style: italic;
    opacity: 0.75;
    display: block;
    line-height: 1;
  }
}

/** Header & Navigation **/
.site-header {
  // padding-bottom: 0;
  border-bottom: 1px solid $teal;
  .navbar-brand,
  .navbar-toggler {
    // margin-bottom: 0.5rem;
  }
  .navbar-brand {
    img {
      height: 70px;
    }
  }
  .nav-item {
    .nav-link {
      font-family: $headings-font-family;
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 0.0625rem;

      &:hover,
      &.active {
        color: $gray-100;
      }

      transition: all 0.15s ease-in-out;
    }
  }

  @for $i from 1 through 12 {
    .nav-item:nth-child(#{$i}) {
      .nav-link {
        &:hover {
          background-color: darken($green, percentage(($i * 2) / 100));
        }
      }
    }
  }
}

/** Footer & Navigation **/
.site-footer {
  background-color: $dark-green;
  border-top: 2px solid $teal;
  padding-top: 2rem;
  a {
    color: $white;

    &:hover {
      color: $teal;
      text-decoration: none;
    }
  }
  h3 {
    color: $teal;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: $headings-font-family;
  }
  .footer-logo {
    img {
      width: 100%;
      height: auto;
      max-width: 150px;
      display: block;
      margin: 0 auto 1rem;
    }
  }
  .footer-nav {
    ul {
      column-count: 2;

    }
  }
}

/** Core **/
#container {
  min-height: 50vh;
}

/** Jumbotron  **/
.jumbotron {
  min-height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;

  text-shadow: 0 0 20px $black;

  font-family: $headings-font-family;
  text-transform: uppercase;
}

/** Nav Blocks **/
.nav-blocks {
  list-style-type: none;
  padding: 0 .5rem;
  li {
    margin-bottom: .5rem;
    margin-top: .5rem;
    padding: 0 .5rem;
    a {
      background-color: $blue;
      position: relative;
      text-decoration: none;
      display: block;
      font-size: 1.15rem;
      line-height: 1.25rem;
      text-align: center;
      width: 100%; height: 0;
      padding: 0 0 100%;
      color: $white;
      font-family: $headings-font-family;
      text-transform: uppercase;
      box-shadow: 0 0 20px $black;
      @include transition($btn-transition);

      .content {
        position: absolute;
        top: 50%; left: .5rem; right: .5rem;
        transform: translateY(-50%);
      }

      i {
        display: block;
        font-size: 2rem;
        margin-top: 1.25rem;
        margin-bottom: .5rem;
      }
      .text {
        display: block;
        height: 2.5rem;
      }

      &:hover {
        background-color: darken($blue, 7.5%);
      }
    }

    &:after {
      width: 100%; height: 0;
      padding: 0 0 100%; margin: 0;
    }
  }
}

.image-col {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
  min-height: 100px;

  img {
    display: none;
  }
}

.testimonials-carousel {
  .carousel-item {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .carousel-control {
    color: $blue;
    font-size: 2rem;
    line-height: 1;
    .icon {
      background-image: none;
      width: 2rem; height: 2rem;
    }
  }

  .carousel-indicators {
    bottom: 0;

    li {
      background-color: rgba($blue, 0.5);
      &.active {
        background-color: $blue;
      }
    }
  }
}

article.faq {
  header {
    .entry-title {
      a {
        color: $green;
        &:hover {
          color: $green;
          text-decoration: none;
        }
      }

      span {
        display: inline-block;
        padding-left: 2.25rem;
        position: relative;
        &:before {
          content: 'Q:';
          display: block;
          position: absolute;
          top: 0; left: 0;
        }
      }
    }
  }

  .entry-content {
    position: relative;
    padding-left: 2.25rem;
    &:before {
      content: 'A:';
      display: block;
      position: absolute;
      top: 0; left: 0;
      font-weight: bold;
    }
  }
}

.flowchart {
  counter-reset: flowchart;
  li {

    img {
      width: 100px;
      height: auto;
    }

    @include media-breakpoint-up(sm) {
      padding-left: 4rem;
      position: relative;

      &:before {
        counter-increment: flowchart;
        content: counter(flowchart);
        font-size: 2rem;
        margin-right: 1rem;
        display: block;
        width: 3rem;
        height: 3rem;
        text-align: center;
        line-height: 3rem;
        background-color: $teal;
        color: $white;
        border-radius: 50%;
        position: absolute;
        top: 50%; left: 0;
        transform: translateY(-50%);
      }
    }
  }
  .media-body {
    color: $primary;
    font-size: 1.2rem;

    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }
}