.site-navigation {
	background-color: $color-brown;

	height: auto;
	padding: 12px 0;

	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 10;

	.nav-logo {
		background-size: contain;
		background-repeat: no-repeat;
		margin: 0;
		display: inline-block;
	}

	.menu-toggler {
		width: 40px;
		height: 34px;
		overflow: hidden;
		position: absolute;
		top:50%; right: 15px;
		transform: translateY(-50%);

		background-image: url(../images/sprites/sprite-menu-toggler.png);
		background-size: 100px 34px;
		background-position: 0 0;
		background-repeat: no-repeat;

		&.active {
			background-position: -60px 0;
		}
	}
	.menu-wrapper {
		display: block;
		position: absolute;
		top: 100%; left: 0; right: 0;
		visibility: hidden;
		overflow: hidden;
		padding-bottom: 10px;
		max-height: 0;
		z-index: 1;

		background-color: $color-white;
		text-align: center;

		border-bottom: 1px solid lighten($color-text, 50%);
		box-shadow: 0 4px 10px -2px lighten($color-black, 50%);

		transition: max-height $transition-normal ease-in-out, visibility 0s ease-in-out $transition-normal;
		ul {
			list-style-type: none;
			margin: 0; padding:0;
			text-align: inherit;

			li {
				font-family: $font-stack-alternate;
				font-weight: bold;
				@include line-height($size-touchable-px, $size-touchable);
				text-transform: uppercase;
				letter-spacing: 2px;
				color: $color-brown;
				display: block;
				float: none;

				padding-left: 0;
				text-indent: 0;

				a {
					display: block;
					color: $color-brown;
					text-decoration: none;

					&:hover {
						color: $color-accent;
					}
				}
			}
		}
		&.active {
			max-height: 700px;
			visibility: visible;
			transition: max-height $transition-normal ease-in-out, visibility 0s ease-in-out 0s;
		}

	}

	@media (max-height: 478px) and (max-width: $screen-md) {
		.menu-wrapper {
			ul {
				overflow: hidden;
				li {
					width: 50%;
					float: left;
					box-sizing: border-box;
				}
			}
		}
	}
	@include breakpoint(desktop) {
		position: relative;
		top: auto; left: auto; right: 0;

		body.fixed-nav & {
			position: fixed;
			top: 0; left: 0; right: 0;
		}
		padding: 27px 0 30px;

		.nav-logo {
			float: left;
		}
		.menu-toggler {
			display: none;
		}
		.menu-wrapper, .menu-wrapper.active {
			display: block;
			visibility: visible;
			max-height: none;
			position: relative;
			top: auto;
			padding-bottom: 0;

			background: transparent;
			box-shadow: none;
			border-bottom: 0;

			ul {
				display: block;
				float: left;
				padding: 0 0 0 10px;
				li {
					float: left;
					color: $color-white;
					margin: 0 $size-gutter;
					padding-left: 0;
    				text-indent: 0;
					a {
						color: $color-white;
						line-height: 58px;

						&:hover {
							color: $color-accent;
						}
					}
				}
			}
			.button.header {
				display: block;
				float: right;
				width: 190px;
				margin: 0;

				&:hover {
					color: $color-white;
					border-color: $color-white;
				}
			}

		}
	}
}

.block-links {
	.block-link {
		a {
			position: relative;
			color: $color-white;
			font-family: $font-stack-alternate;
			@include font-size($font-size-block-nav-mobile-px, $font-size-block-nav-mobile);
			text-shadow: 0 0 10px $color-black;
			text-decoration: none;
			text-align: center;
			text-transform: uppercase;
			overflow: hidden;
			box-sizing: border-box;

			display: block;
			margin: $size-gutter 0;

			.image {
				display: block;
				width: 100%; height: 0;
				padding: 0 0 100%;
				position: relative;
				z-index: 1;
				background-size: cover;
				background-repeat: no-repeat;
				@include blur(2);
			}
			.content {
				position: absolute;
				z-index: 3;
				top: 50%; left: $size-gutter; right: $size-gutter;
				transform: translateY(-50%);
			}
			.arrow {
				display: block;
				position: absolute;
				top: 60%; left: $size-gutter; right: $size-gutter;
				z-index: 3;
				opacity: 0;
				font-size: .8em;

				transition: opacity $transition-normal ease-in-out;

				&::after {
					content: '\e800';
					font-family: $font-stack-icons;
				}
			}
			&::after {
				content: '';
				background: $color-orange;
				opacity: 0;
				position: absolute;
				top: 0; bottom: 0;
				right: 0; left: 0;
				z-index: 2;

				transition: opacity $transition-normal ease-in-out;
			}
			&:hover {
				.arrow {
					opacity: 1;
				}
				&::after {
					opacity: .7;
				}
			}
		}

		&.no-image {
			a {
				border: 1px solid $color-lighter-grey;
				text-shadow: none;
				color: $color-grey;
				transition: all $transition-normal ease-in-out;

				.image {
					background-color: $color-white;
					@include removeBlur();
				}

				&:hover {
					color: $color-white;

					&::after {
						opacity: 1;
					}
				}
			}
		}
	}

	&.shop-links {
		.block-link {
			a {
				border: 1px solid $color-lighter-grey;
				transition: all $transition-normal ease-in-out;
				&::after {
					display: none;
				}
				.image {
					@include greyscale();
					opacity: .7;
					transition: all $transition-normal ease-in-out;
				}
				.content {
					visibility: hidden;
				}

				&:hover {
					.image {
						@include removeGreyscale();
						opacity: 1;
					}
				}
			}
			&.no-image {
				a {
					color: $color-light-grey;
					.content {
						visibility: visible;
					}

					&:hover {
						color: $color-accent;
					}
				}
			}
		}
	}

	@include breakpoint(tablet) {
		.block-link {
			a {
				@include font-size($font-size-block-nav-tablet-px, $font-size-block-nav-tablet);
			}
		}
	}
	@include breakpoint(desktop) {
		.block-link {
			a {
				@include font-size($font-size-block-nav-px, $font-size-block-nav);
			}
		}
		&.sp-blocks {
			.block-link {
				a {
					@include font-size($font-size-block-nav-tablet-px, $font-size-block-nav-tablet);
				}
			}
		}
	}
}

.sp-blocks {
	text-align: center;
	.sp-blocks-row {
		clear: both;
	}
	&.media-sp {
		h2 {
			margin-bottom: $standard-margin * 3;
		}
	}
	h3 {
		margin-top: ($standard-margin * 2);
		margin-bottom: 0;
		text-align: center;
		font-size: 1em;
	}

	.block-link {
		display: inline-block;
		padding: 0 $size-gutter;
		margin: $size-gutter 0;
		a {
			text-decoration: none;
			.image {
				display: inline-block;
				img {
					display: inline-block;
					width: auto;
					height: $sponsor-block-height;
				}
			}
			.content {
				display: none;
			}
		}

		&.no-image {
			a {
				.content {
					display: inline-block;
					width: $sponsor-block-width;
					height: $sponsor-block-height;
					font-family: $font-stack-alternate;
					font-weight: $font-weight-alternate;
					font-size: $sponsor-font-size;
					text-transform: uppercase;
					color: $color-grey;
				}
				&:hover {
					.content {
						color: $color-accent;
					}
				}
			}
		}
	}

	.sp-blocks-row {
		&.tasting-room-sponsors {
			.block-link {
				a {
					.image {
						img {
							height: $sponsor-block-height * .9;
						}
					}
					.content {
						font-size: $sponsor-font-size * .9;
						width: $sponsor-block-width * .9;
						height: $sponsor-block-height * .9;
					}
				}
			}
		}

		&.feature-sponsors {
			.block-link {
				a {
					.image {
						img {
							height: $sponsor-block-height * .8;
						}
					}
					.content {
						width: $sponsor-block-width * .8;
						height: $sponsor-block-height * .8;
					}
				}
			}
		}
		&.friends-farmers {
			.block-link {
				a {
					.image {
						img {
							height: $sponsor-block-height * .7;
						}
					}
					.content {
						width: $sponsor-block-width * .7;
						height: $sponsor-block-height * .7;
					}
				}
			}
		}
		&.locavore {
			.block-link {
				a {
					.image {
						img {
							height: $sponsor-block-height * .5;
						}
					}
					.content {
						width: $sponsor-block-width * .5;
						height: $sponsor-block-height * .5;
					}
				}
			}
		}
	}
}